<mat-progress-bar
  *ngIf="loadingDisplayData | async"
  color="primary"
  mode="indeterminate"
></mat-progress-bar>

<mat-form-field class="api-toke-field">
  <mat-label>API Token</mat-label>
  <input
    matInput
    [formControl]="apiToken"
    placeholder="Enter your API token"
    (keyup.enter)="apiTokenManagement(apiToken.value)"
  />
</mat-form-field>

<div class="spacer-bottom-lg wrapper">
  <h1>
    International School Bangkok
  </h1>

  <ng-container *ngIf="this.outdoorLocations?.length">
    <h2 class="spacer-bottom-nil">Outdoor Air Quality</h2>
    <ng-container *ngFor="let location of outdoorLocations">
      <div class="measurements spacer-bottom-lg">
        <h3 class="spacer-bottom-nil">{{ location.locationName }}</h3>

        <ng-container *ngIf="location | measuresAvailable; else noMeasuresDataMessage">
          <div
            *ngIf="location.pm02_corrected | nonNullablePipe : true"
            class="main-value"
          >
            <div
              class="measurement-icon"
              [ngStyle]="{ backgroundColor: getColorByValue(location.pm02_corrected, 'pm02') }"
            ></div>
            <span class="average-value">{{ location.pm02_corrected | number : '1.0-2' }}</span>
            <div class="value-description">
              <span class="measure-unit-title">PM<sub>2.5</sub> (μg/m³)</span>
              <br>
              current
            </div>
          </div>

          <div
            *ngIf="location.pi02 | nonNullablePipe : true"
            class="main-value pm-sub-value"
          >
            <div
              class="measurement-icon"
              [ngStyle]="{ backgroundColor: getColorByValue(location.pi02, 'pi02') }"
            ></div>
            <span class="average-value">{{ location.pi02 | number : '1.0-2' }}</span>
            <div class="value-description">
              <span class="measure-unit-title">PM<sub>2.5</sub> (US AQI)</span>
              <br>
              current
            </div>
          </div>

          <div
            *ngIf="location.rco2_corrected | nonNullablePipe : true"
            class="measurement"
          >
            <div
              class="sub-measurement-icon"
              [ngStyle]="{ backgroundColor: getColorByValue(location.rco2, 'rco2') }"
            ></div>
            <span>CO<sub>2</sub>: {{ location.rco2_corrected | number : '1.0-2' }}ppm</span>
          </div>

          <div
            *ngIf="location.atmp_corrected | nonNullablePipe : true"
            class="measurement"
          >
            <div
              class="sub-measurement-icon"
              [ngStyle]="{ backgroundColor: location.atmp_corrected }"
            ></div>
            <span>Temperature: {{ location.atmp_corrected }}°C</span>
          </div>

          <div
            *ngIf="location.atmp_fahrenheit | nonNullablePipe : true"
            class="measurement"
          >
            <span>Temperature: {{ location.atmp_fahrenheit | number : '1.0-2' }}°F</span>
          </div>

          <div
            *ngIf="location.rhum_corrected | nonNullablePipe : true"
            class="measurement">
            <span>Humidity: {{ location.rhum_corrected | number : '1.0-0' }}%</span>
          </div>

          <div
            *ngIf="location.heatindex | nonNullablePipe : true"
            class="measurement">
            <div
              class="sub-measurement-icon"
              [ngStyle]="{ backgroundColor: getColorByValue(location.heatindex, 'heatindex') }"
            ></div>
            <span>Heat Index: {{ location.heatindex | number : '1.0-2' }}°C</span>
          </div>

          <div
            *ngIf="location.heat_index_fahrenheit | nonNullablePipe : true"
            class="measurement">
            <div
              class="sub-measurement-icon"
              [ngStyle]="{ backgroundColor: getColorByValue(location.heat_index_fahrenheit, 'heat_index_fahrenheit') }"
            ></div>
            <span>Heat Index: {{ location.heat_index_fahrenheit | number:'1.0-2' }}°F</span>
          </div>
        </ng-container>

        <div
          class="last-update"
        >
          Last Update: {{ location.timestamp | date: 'hh:mm:ss a' }}
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="this.indoorLocations?.length">
    <h2 class="spacer-bottom-nil">Indoor Air Quality</h2>
    <ng-container *ngFor="let location of indoorLocations">
      <div class="measurements spacer-bottom-lg">
        <h3 class="spacer-bottom-nil">{{ location.locationName }}</h3>

        <ng-container *ngIf="location | measuresAvailable; else noMeasuresDataMessage">
          <div
            *ngIf="location.pm02_corrected | nonNullablePipe : true"
            class="main-value"
          >
            <div
              class="measurement-icon"
              [ngStyle]="{ backgroundColor: getColorByValue(location.pm02_corrected, 'pm02') }"
            ></div>
            <span class="average-value">{{ location.pm02_corrected | number : '1.0-2' }}</span>
            <div class="value-description">
              <span class="measure-unit-title">PM<sub>2.5</sub> (μg/m³)</span><br>
              current
            </div>
          </div>

          <div
            *ngIf="location.pi02 | nonNullablePipe : true"
            class="main-value pm-sub-value"
          >
            <div
              class="measurement-icon"
              [ngStyle]="{ backgroundColor: getColorByValue(location.pi02, 'pi02') }"
            ></div>
            <span class="average-value">{{ location.pi02 | number : '1.0-2' }}</span>
            <div class="value-description">
              <span class="measure-unit-title">PM<sub>2.5</sub> (US AQI)</span><br>
              current
            </div>
          </div>

          <div
            *ngIf="location.rco2_corrected | nonNullablePipe : true"
            class="measurement"
          >
            <div
              class="sub-measurement-icon"
              [ngStyle]="{ backgroundColor: getColorByValue(location.rco2_corrected, 'rco2') }"
            ></div>
            <span>CO<sub>2</sub>: {{ location.rco2_corrected | number : '1.0-2' }}ppm</span>
          </div>

          <div
            *ngIf="location.atmp_corrected | nonNullablePipe : true"
            class="measurement"
          >
            <span>Temperature: {{ location.atmp_corrected | number : '1.0-2' }}°C</span>
          </div>

          <div
            *ngIf="location.atmp_fahrenheit | nonNullablePipe : true"
            class="measurement"
          >
            <span>Temperature: {{ location.atmp_fahrenheit | number : '1.0-2' }}°F</span>
          </div>

          <div
            *ngIf="location.rhum_corrected | nonNullablePipe : true"
            class="measurement"
          >
            <span>Humidity: {{ location.rhum_corrected | number : '1.0-0' }}%</span>
          </div>

          <div
            *ngIf="location.heatindex | nonNullablePipe : true"
            class="measurement"
          >
            <div
              class="sub-measurement-icon"
              [ngStyle]="{ backgroundColor: getColorByValue(location.heatindex, 'heatindex') }"
            ></div>
            <span>Heat Index: {{ location.heatindex | number : '1.0-2' }}°C</span>
          </div>

          <div
            *ngIf="location.heat_index_fahrenheit | nonNullablePipe : true"
            class="measurement"
          >
            <div
              class="sub-measurement-icon"
              [ngStyle]="{ backgroundColor: getColorByValue(location.heat_index_fahrenheit, 'heat_index_fahrenheit') }"
            ></div>
            <span>Heat Index: {{ location.heat_index_fahrenheit | number:'1.0-2' }}°F</span>
          </div>
        </ng-container>

        <div
          class="last-update"
        >
              <span *ngIf="!((location.timestamp | date: 'yyyy-MM-dd') === (today | date: 'yyyy-MM-dd'))">
                Last Updated: {{ location.timestamp | date: 'MM/dd/yyyy' }}
              </span>
          <span *ngIf="(location.timestamp | date: 'yyyy-MM-dd') === (today | date: 'yyyy-MM-dd')">
                Last Update: {{ location.timestamp | date: 'hh:mm:ss a' }}
              </span>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-container
    *ngIf="!this.indoorLocations?.length && !this.outdoorLocations?.length"
  >
    <h2 *ngIf="apiToken.value">No Locations Data</h2>
    <div *ngIf="!apiToken.value">
      Please, enter your API Token.
      You can get one by going to
      <a href="https://app.airgradient.com/settings/place?tab=4" target="_blank">Connectivity Page</a>.
    </div>
  </ng-container>
</div>

<ng-template #noMeasuresDataMessage>
  <div>
    <h4>No Measures Data</h4>
  </div>
</ng-template>
