@if (loadingDisplayData$ | async) {
  <mat-progress-bar
    color="primary"
    mode="indeterminate"
  ></mat-progress-bar>
}

<mat-form-field class="api-toke-field">
  <mat-label>API Token</mat-label>
  <input
    matInput
    [formControl]="apiToken"
    (keyup.enter)="apiTokenManagement(apiToken.value)"
  />
</mat-form-field>

<div class="spacer-bottom-lg wrapper">
  <h1>
    International School Bangkok
  </h1>

  @if (outdoorLocations?.length) {
    <h2 class="spacer-bottom-nil">Outdoor Air Quality</h2>
    @for (location of outdoorLocations; track location.locationName) {
      <div class="measurements spacer-bottom-lg">
        <h3 class="spacer-bottom-nil">{{ location.locationName }}</h3>

        @if (location | measuresAvailable) {
          @if (location.pm02_corrected | nonNullablePipe : true) {
            <div class="main-value">
              <div
                class="measurement-icon"
                [ngStyle]="{ backgroundColor: getColorByValue(location.pm02_corrected, 'pm02') }"
              ></div>
              <span class="average-value">{{ location.pm02_corrected | number : '1.0-2' }}</span>
              <div class="value-description">
                <span class="measure-unit-title">PM<sub>2.5</sub> (μg/m³)</span>
                <br>
                current
              </div>
            </div>
          }

          @if (location.pi02 | nonNullablePipe : true) {
            <div class="main-value pm-sub-value">
              <div
                class="measurement-icon"
                [ngStyle]="{ backgroundColor: getColorByValue(location.pi02, 'pi02') }"
              ></div>
              <span class="average-value">{{ location.pi02 | number : '1.0-2' }}</span>
              <div class="value-description">
                <span class="measure-unit-title">PM<sub>2.5</sub> (US AQI)</span>
                <br>
                current
              </div>
            </div>
          }

          @if (location.rco2_corrected | nonNullablePipe : true) {
            <div class="measurement">
              <div
                class="sub-measurement-icon"
                [ngStyle]="{ backgroundColor: getColorByValue(location.rco2, 'rco2') }"
              ></div>
              <span>CO<sub>2</sub>: {{ location.rco2_corrected | number : '1.0-2' }}ppm</span>
            </div>
          }

          @if (location.atmp_corrected | nonNullablePipe : true) {
            <div class="measurement">
              <div
                class="sub-measurement-icon"
                [ngStyle]="{ backgroundColor: location.atmp_corrected }"
              ></div>
              <span>Temperature: {{ location.atmp_corrected }}°C</span>
            </div>
          }

          @if (location.atmp_fahrenheit | nonNullablePipe : true) {
            <div class="measurement">
              <span>Temperature: {{ location.atmp_fahrenheit | number : '1.0-2' }}°F</span>
            </div>
          }

          @if (location.rhum_corrected | nonNullablePipe : true) {
            <div class="measurement">
              <span>Humidity: {{ location.rhum_corrected | number : '1.0-0' }}%</span>
            </div>
          }

          @if (location.heatindex | nonNullablePipe : true) {
            <div class="measurement">
              <div
                class="sub-measurement-icon"
                [ngStyle]="{ backgroundColor: getColorByValue(location.heatindex, 'heatindex') }"
              ></div>
              <span>Heat Index: {{ location.heatindex | number : '1.0-2' }}°C</span>
            </div>
          }

          @if (location.heat_index_fahrenheit | nonNullablePipe : true) {
            <div class="measurement">
              <div
                class="sub-measurement-icon"
                [ngStyle]="{ backgroundColor: getColorByValue(location.heat_index_fahrenheit, 'heat_index_fahrenheit') }"
              ></div>
              <span>Heat Index: {{ location.heat_index_fahrenheit | number:'1.0-2' }}°F</span>
            </div>
          }
        } @else {
          <div>
            <h4>No Measures Data</h4>
          </div>
        }

        <div
          class="last-update"
        >
          Last Update: {{ location.timestamp | date: 'hh:mm:ss a' }}
        </div>
      </div>
    }
  }

  @if (indoorLocations?.length) {
    <h2 class="spacer-bottom-nil">Indoor Air Quality</h2>
    @for (location of indoorLocations; track location.locationName) {
      <div class="measurements spacer-bottom-lg">
        <h3 class="spacer-bottom-nil">{{ location.locationName }}</h3>

        @if (location | measuresAvailable) {
          @if (location.pm02_corrected | nonNullablePipe : true) {
            <div class="main-value">
              <div
                class="measurement-icon"
                [ngStyle]="{ backgroundColor: getColorByValue(location.pm02_corrected, 'pm02') }"
              ></div>
              <span class="average-value">{{ location.pm02_corrected | number : '1.0-2' }}</span>
              <div class="value-description">
                <span class="measure-unit-title">PM<sub>2.5</sub> (μg/m³)</span><br>
                current
              </div>
            </div>
          }

          @if (location.pi02 | nonNullablePipe : true) {
            <div class="main-value pm-sub-value">
              <div
                class="measurement-icon"
                [ngStyle]="{ backgroundColor: getColorByValue(location.pi02, 'pi02') }"
              ></div>
              <span class="average-value">{{ location.pi02 | number : '1.0-2' }}</span>
              <div class="value-description">
                <span class="measure-unit-title">PM<sub>2.5</sub> (US AQI)</span><br>
                current
              </div>
            </div>
          }

          @if (location.rco2_corrected | nonNullablePipe : true) {
            <div class="measurement">
              <div
                class="sub-measurement-icon"
                [ngStyle]="{ backgroundColor: getColorByValue(location.rco2_corrected, 'rco2') }"
              ></div>
              <span>CO<sub>2</sub>: {{ location.rco2_corrected | number : '1.0-2' }}ppm</span>
            </div>
          }

          @if (location.atmp_corrected | nonNullablePipe : true) {
            <div class="measurement">
              <span>Temperature: {{ location.atmp_corrected | number : '1.0-2' }}°C</span>
            </div>
          }

          @if (location.atmp_fahrenheit | nonNullablePipe : true) {
            <div class="measurement">
              <span>Temperature: {{ location.atmp_fahrenheit | number : '1.0-2' }}°F</span>
            </div>
          }

          @if (location.rhum_corrected | nonNullablePipe : true) {
            <div class="measurement">
              <span>Humidity: {{ location.rhum_corrected | number : '1.0-0' }}%</span>
            </div>
          }

          @if (location.heatindex | nonNullablePipe : true) {
            <div class="measurement">
              <div
                class="sub-measurement-icon"
                [ngStyle]="{ backgroundColor: getColorByValue(location.heatindex, 'heatindex') }"
              ></div>
              <span>Heat Index: {{ location.heatindex | number : '1.0-2' }}°C</span>
            </div>
          }

          @if (location.heat_index_fahrenheit | nonNullablePipe : true) {
            <div class="measurement">
              <div
                class="sub-measurement-icon"
                [ngStyle]="{ backgroundColor: getColorByValue(location.heat_index_fahrenheit, 'heat_index_fahrenheit') }"
              ></div>
              <span>Heat Index: {{ location.heat_index_fahrenheit | number:'1.0-2' }}°F</span>
            </div>
          }
        } @else {
          <div>
            <h4>No Measures Data</h4>
          </div>
        }

        <div
          class="last-update"
        >
          @if (!((location.timestamp | date: 'yyyy-MM-dd') === (today | date: 'yyyy-MM-dd'))) {
            <span>
              Last Updated: {{ location.timestamp | date: 'MM/dd/yyyy' }}
            </span>
          }
          @if ((location.timestamp | date: 'yyyy-MM-dd') === (today | date: 'yyyy-MM-dd')) {
            <span>
              Last Update: {{ location.timestamp | date: 'hh:mm:ss a' }}
            </span>
          }
        </div>
      </div>
    }
  }

  @if (!indoorLocations?.length && !outdoorLocations?.length) {
    @if (apiToken.value) {
      <h2>No Locations Data</h2>
    }
    @if (!apiToken.value) {
      <div>
        Please, enter your API Token.
        You can get one by going to
        <a href="https://app.airgradient.com/settings/place?tab=4" target="_blank">Connectivity Page</a>.
      </div>
    }
  }
</div>

